<div class="p-4 flex justify-between bg-navbar">
  <div class="flex items-center">
    <img src="/rb_6376.png" class="w-20" alt="" />
    <a href="/dashboard" class="text-xl ml-5 tracking-wide">MusicBuddy</a>
  </div>
  <div class="flex items-center">
    <li class="list-none mr-5">
      <a
        class="navitems p-[10px] rounded"
        routerLinkActive="/dashboard"
        href="/dashboard"
        >Dashboard</a
      >
    </li>
    <li class="list-none mr-5">
      <a class="navitems p-[10px] rounded tracking-wide" href="/music">Music</a>
    </li>
    <li class="list-none mr-5">
      <a class="navitems p-[10px] rounded tracking-wide" href="/playlist"
        >Playlist</a
      >
    </li>
    <li class="list-none mr-5">
      <a class="navitems p-[10px] rounded tracking-wide" href="/login">Login</a>
    </li>
    <li class="list-none mr-5">
      <a class="navitems p-[10px] rounded tracking-wide" href="/profile"
        >Profile</a
      >
    </li>
  </div>
</div>
