<div class="p-5 flex justify-between navbar">
  <div class="flex items-center cursor-pointer">
    <img src="/rb_6376.png" class="w-20" alt="" />
    <a href="/dashboard" class="text-2xl ml-5 tracking-wide logo">MusicBuddy</a>
  </div>
  <div class="flex items-center text-lg">
    <li class="list-none mr-5 text-white">
      <a
        class="navitems p-[10px] rounded"
        routerLinkActive="/dashboard"
        href="/dashboard"
        >Dashboard</a
      >
    </li>
    <li class="list-none mr-5">
      <a class="navitems p-[10px] rounded tracking-wide" href="/music">Music</a>
    </li>
    <li class="list-none mr-5">
      <a class="navitems p-[10px] rounded tracking-wide" href="/playlist"
        >Playlist</a
      >
    </li>
    <li class="list-none mr-5">
      <a class="navitems p-[10px] rounded tracking-wide" href="/profile"
        >Contact</a
      >
    </li>
    <li class="list-none mr-5">
      <a class="navitems p-[10px] rounded tracking-wide" href="/login"
        >Login / Register</a
      >
    </li>
    <!-- <li class="list-none mr-5">
      <a class="navitems p-[10px] rounded tracking-wide" href="/profile"
        >Profile</a
      >
    </li> -->
  </div>
</div>
<hr class="color">
